[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
textgenrnn = "*"
tensorflow = "==2.5.3"
Pillow = "*"
beautifulsoup4 = "*"
keras = "==2.3.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
